<h1>Stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <div class="image-box" style="--image-url: url({{image}})">
                 <span class="card-title">{{title}}</span>
                {{{editIcon user ../user _id}}}
                 </div>
            </div>
            <div class="card-content center-align">
                <p>{{summary}}</p>

                {{!-- <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div> --}}
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn blue">Read More</a>
            </div>
        </div>
    </div>

    {{else}}
    <p>No stories to display</p>

    {{/each}}
</div>